header {
    background-color: #242c2c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}
header li a {
    color: white;
    text-decoration: none;
}

header li a:hover{
    color:#449187
}
